body {
   background-color: rgb(245, 248, 248);

}

.card {

   background-color: rgb(245, 245, 248);
   width: 300px;
   height: 350px;
   border-style: groove;
   border-radius: 5px;
   position:relative;
   border-color: rgb(246, 250, 250);

}

.card__title {
text-align: center;
font-size: 30px;
margin: 10px 0;

}

.card__content{
  
   padding: 20px;
   position: relative;

}
span{
   color: rgb(137, 140, 143);
  
}

.trash {
   position: absolute;
   bottom: 18px;
   right: 80px;
   height: 50px;
   width: 50px;
   background-color: rgb(207, 78, 78);
   border: 1px;
   border-radius: 5px;
   cursor: pointer;
   color: rgb(216, 213, 213);
   border-color: rgb(240, 5, 5);

}

.trash:hover {
   color: rgb(226, 215, 215);
   background-color: rgb(145, 46, 46);
}

.trash__icon {

}


.pencil {

   position: absolute;
   bottom: 18px;
   right: 18px;
   height: 50px;
   width: 50px;
   cursor: pointer;
   color: rgb(137, 140, 143);

}

.pencil__icon {}

hr {
   color: rgb(137, 140, 143);
   
}
